form a {
    margin-left: 5px;
}

.product-card{
    width: 18rem;
}

.carousel{
    height: 360px;
}

/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Ubuntu";
body {
    font-family: 'Ubuntu', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EBEFF5;

    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */

.white-bg{
 background-color: white;
}


/* ---------------------------------------------------
    QUANTITY     STYLE
----------------------------------------------------- */
.border-radius-0{
    border-radius:0 !important;
}

.qnt-input{
    width: 30px!important;
}

/* ---------------------------------------------------
    card list      STYLE
----------------------------------------------------- */

.card-product-custom{
    margin: 0 auto;
    border: solid 1px rgba(0, 0, 0, 0.12) !important;
}